<div class="row1">
        <div class="row mb-4">
         <div class="col-2 themed-grid-col">First Name</div>
         <div class="col-2 themed-grid-col">Last Name</div>
         <div class="col-3 themed-grid-col">Phone NO</div>
         <div class="col-3 themed-grid-col">Email</div>
         <div class="col-2 themed-grid-col">Dob</div>
        </div>
       </div>
<a  [routerLink]="['/id']" (click)="data()"   class="row2">     
       <div class="row mb-4">
           <div class="col-2 themed-grid-col">Jhon</div>
           <div class="col-2 themed-grid-col">Smith</div>
           <div class="col-3 themed-grid-col">7007854854</div>
           <div class="col-3 themed-grid-col">jhon451@gmail.com</div>
           <div class="col-2 themed-grid-col">1995-11-12</div>
       </div>
</a>          
<div class="row2">         
       <div class="row mb-4">
           <div class="col-2 themed-grid-col">Jhon</div>
           <div class="col-2 themed-grid-col">Smith</div>
           <div class="col-3 themed-grid-col">7007854854</div>
           <div class="col-3 themed-grid-col">jhon451@gmail.com</div>
           <div class="col-2 themed-grid-col">1995-11-12</div>
       </div>
</div>       
<div class="row2">        
       <div class="row mb-4">
           <div class="col-2 themed-grid-col">Jhon</div>
           <div class="col-2 themed-grid-col">Smith</div>
           <div class="col-3 themed-grid-col">7007854854</div>
           <div class="col-3 themed-grid-col">jhon451@gmail.com</div>
           <div class="col-2 themed-grid-col">1995-11-12</div>
       </div>
</div>       
<div class="row2">  
       <div class="row mb-4">
           <div class="col-2 themed-grid-col">Jhon</div>
           <div class="col-2 themed-grid-col">Smith</div>
           <div class="col-3 themed-grid-col">7007854854</div>
           <div class="col-3 themed-grid-col">jhon451@gmail.com</div>
           <div class="col-2 themed-grid-col">1995-11-12</div>
       </div>
</div>
<div class="row2">   
       <div class="row mb-4">
           <div class="col-2 themed-grid-col">Jhon</div>
           <div class="col-2 themed-grid-col">Smith</div>
           <div class="col-3 themed-grid-col">7007854854</div>
           <div class="col-3 themed-grid-col">jhon451@gmail.com</div>
           <div class="col-2 themed-grid-col">1995-11-12</div>
       </div>
 </div>      
<div class="row2">   
       <div class="row mb-4">
           <div class="col-2 themed-grid-col">Jhon</div>
           <div class="col-2 themed-grid-col">Smith</div>
           <div class="col-3 themed-grid-col">7007854854</div>
           <div class="col-3 themed-grid-col">jhon451@gmail.com</div>
           <div class="col-2 themed-grid-col">1995-11-12</div>
       </div>
</div>       
<div class="row2">  
       <div class="row mb-4">
           <div class="col-2 themed-grid-col">Jhon</div>
           <div class="col-2 themed-grid-col">Smith</div>
           <div class="col-3 themed-grid-col">7007854854</div>
           <div class="col-3 themed-grid-col">jhon451@gmail.com</div>
           <div class="col-2 themed-grid-col">1995-11-12</div>
       </div>
</div>       
<div class="row2">    
       <div class="row mb-4">
           <div class="col-2 themed-grid-col">Jhon</div>
           <div class="col-2 themed-grid-col">Smith</div>
           <div class="col-3 themed-grid-col">7007854854</div>
           <div class="col-3 themed-grid-col">jhon451@gmail.com</div>
           <div class="col-2 themed-grid-col">1995-11-12</div>
       </div>
</div>       
<div class="row2">      
       <div class="row mb-4">
           <div class="col-2 themed-grid-col">Jhon</div>
           <div class="col-2 themed-grid-col">Smith</div>
           <div class="col-3 themed-grid-col">7007854854</div>
           <div class="col-3 themed-grid-col">jhon451@gmail.com</div>
           <div class="col-2 themed-grid-col">1995-11-12</div>
       </div>
</div>       
<div class="row2">  
       <div class="row mb-4">
           <div class="col-2 themed-grid-col">Jhon</div>
           <div class="col-2 themed-grid-col">Smith</div>
           <div class="col-3 themed-grid-col">7007854854</div>
           <div class="col-3 themed-grid-col">jhon451@gmail.com</div>
           <div class="col-2 themed-grid-col">1995-11-12</div>
       </div>
</div>       
<div class="row2">  
       <div class="row mb-4">
           <div class="col-2 themed-grid-col">Jhon</div>
           <div class="col-2 themed-grid-col">Smith</div>
           <div class="col-3 themed-grid-col">7007854854</div>
           <div class="col-3 themed-grid-col">jhon451@gmail.com</div>
           <div class="col-2 themed-grid-col">1995-11-12</div>
       </div>
</div>       
<div class="row2">   
       <div class="row mb-4">
           <div class="col-2 themed-grid-col">Jhon</div>
           <div class="col-2 themed-grid-col">Smith</div>
           <div class="col-3 themed-grid-col">7007854854</div>
           <div class="col-3 themed-grid-col">jhon451@gmail.com</div>
           <div class="col-2 themed-grid-col">1995-11-12</div>
       </div>
</div>       
<div class="row2">  
       <div class="row mb-4">
           <div class="col-2 themed-grid-col">Jhon</div>
           <div class="col-2 themed-grid-col">Smith</div>
           <div class="col-3 themed-grid-col">7007854854</div>
           <div class="col-3 themed-grid-col">jhon451@gmail.com</div>
           <div class="col-2 themed-grid-col">1995-11-12</div>
       </div>
</div>       
<div class="row2">  
       <div class="row mb-4">
           <div class="col-2 themed-grid-col">Jhon</div>
           <div class="col-2 themed-grid-col">Smith</div>
           <div class="col-3 themed-grid-col">7007854854</div>
           <div class="col-3 themed-grid-col">jhon451@gmail.com</div>
           <div class="col-2 themed-grid-col">1995-11-12</div>
       </div>
</div>  